:root {
    --rojo: #ff4842;
    --azul-oscuro: #12203d;
    --azul-claro: #33b1ff;
    --azul:#24385b;
    --negro-azulado: #0c1633;
    --verde: #98ca3f;
    --blanco: #eff3f8;
    --gris-azulado: #637b9d;    
    --width-scrollbar-vertical: 8px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
html {
    font-family: Roboto;
    font-size: 62.5%;
}
body {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
}
header {
    width: 100%;
    background-color: var(--negro-azulado);
}
body, header, main, .proyectos-del-curso {
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main {
    margin-block-end: 2rem;
}
h1 {
    padding: 2rem;
}
h1, .platzi {
    color: var(--verde);
}
h2 {
    padding-block-end: 2rem;
}
h3:first-child {
    margin-block-start: 2rem;
}
.proyectos-del-curso {
    margin-block-start: 2rem;
}
.proyectos-del-curso a {
    text-decoration: none;
    color: var(--azul-claro);
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid var(--azul-claro);
    background-color: var(--azul);
    border-radius: 8px;
}