/* Agregando estilos:

1. Posicionamiento --> static, absolute, relative, fixed
2. Modelo de caja (Box model) --> margin, border, padding, content
3. Tipografía --> tipos, tamaños de fuente, etc
4. Estilos visuales --> box-shadow, border-radius, gradient, etc
5. Otros --> reglas CSS y más */
:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --warm-black: #282623;
    --black: #201E1C;
    --off-white: #FAF8F7;
    --just-white: #FFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 295px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    height: 24px;  
}
.header--title-container {
    width: 90%;
    min-width: calc(320px*0.9);
    max-width: 900px;
    align-self: center;
    margin-top: 32px;
}
.header--title-container h1 {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
}
.header--title-container>p {
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 18px;
    color: var(--soft-orange);
}
.header--button {
    position: absolute;
    top: calc(100% - 24px);
    left: calc(50% - (229px * 0.5));
    width: 229px;
    height: 48px;
    padding: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--black);
    text-decoration: none;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}
.header--button span {
    display: inline-block;
    width: 12px;
    height: 8px;
    margin-left: 14px;
    background-image: url("./assets/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container, .main-broker-container {
    width: 100%;
    height: auto;
    padding-top: 60px;
    margin-bottom: 48px;
    text-align: center;
}
.main-exchange-container--title, .main-broker-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img, .main-broker-container .background-img {
    width: 196px;
    height: 196px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: inline-block;    
    background-image: url("./assets/imgs/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2, .main-broker-container h2  {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container--title p, .main-broker-container--title p  {
    margin-bottom: 48px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.main-currency-table, .main-broker-table {
    width: fit-content;
    min-width: calc(320px*0.6);
    max-width: calc(320px*0.6*2.5);
    /* height: 208px; */
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    text-align: left;
}
.main-currency-table .currency-table--title, .main-broker-table .broker-table--title {
    margin: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.currency-table--table .table__left, .broker-table--table .table__left {
    width: 100px;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.currency-table--table .table__right, .broker-table--table .table__right {
    display: flex;
    justify-content: flex-end;
    width: 96px;
    padding: 11px 12px;
    padding-right: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
    background-color: var(--just-white);
}
.broker-table--table .table__right {
    display: block;
    text-align: center;
    padding: 11px 0;
}
.currency-table--table .trending-down,.currency-table--table .trending-up{
    width: 12px;
    height: 12px;
    margin: 0 11px;
    display: inline-block;
    background-image: url("./assets/icons/trending-down.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.currency-table--table span.trending-up {
    background-image: url("./assets/icons/trending-up.svg");
}
.main-tables-container table {
    border-spacing: 1px;
    border-radius: 12px;
    overflow: hidden;
}
.main-product-detail {
    width: 100%;
    height: auto;
    min-width: 320px;
    padding: 64px 16px;
    background-color: var(--black);
}
.product-detail--title {
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 44px;
    text-align: center;
}
.product-detail--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p {
    margin-top: 24px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 500px;
    height: auto;
    padding: 16px;
    margin: 0 auto;
    margin-top: 16px;
    background-color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.card-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clock {
    background-image: url("./assets/icons/clock.svg");
}
.eye {
    background-image: url("./assets/icons/eye.svg");
}
.dollar-sign {
    background-image: url("./assets/icons/dollar-sign.svg");
}
.check-circle {
    background-image: url("./assets/icons/check-circle.svg");
}
.product--card-title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: var(--just-white);
}
.product--card-body {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #808080;
    padding-bottom: 8px;
}
.bitcoin-baby-container {
    height: 387px;
    width: 100%;
    display: block;
    background-image: url("assets/imgs/bitcoinbaby.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bitcoin-baby-container h2 {
    padding-top: 96px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white); 
    text-align: center;
}
.main-plans-container {
    min-width: 320px;
    width: 100%;
    height: auto;
    padding: 64px 0;
    background: var(--off-white);
}
.plans-title {
    width: 90%;
    margin: 0 auto;
}
.plans-title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--black);
}
.plans-title p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 50px;
}
.plans-container--slider {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card {
    height: fit-content;
    position: relative;
    scroll-snap-align: center;
    min-width: 190px;
    padding-bottom: 24px;
    margin: 0 4px;
    text-align: center;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container--card > p {
    position: absolute;
    left: calc(50% - 50px);
    top: -16px;
    width: fit-content;
    padding: 8px;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--just-white);
    background: #F7931A;
    border-radius: 8px;
}
.plans-container--card h3 {
    margin-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
.plans-container--card .price {
    position: relative;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 63px;
    margin: 8px 0 16px;
}
.plans-container--card .price span {
    position: absolute;
    top: 4px;
    left: calc(50% - 44px);
    font-family: Inter;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #363636;
}
.plans-container--card .saving { 
    width: 80%;
    margin: 0 auto;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #757575;
    margin-bottom: 16px;
}
.plans-container--card button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--black);
    padding: 8px 16px;
    padding-left: 12px;
    background: #FAF8F7;
    border: 2px solid #F7931A;
    border-radius: 4px;
}
.plans-container--card button span {
    background-image: url("assets/icons/arrow-right.svg");
    margin: 0;
    margin-left: 8px;
}
footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}
footer section ul {
    list-style: none;
}
footer section li {
    padding: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}
footer .isotype {
    display: flex;
    flex-direction: column;
}
footer .isotype img {
    width: 112px;
    height: 48px;
    margin-bottom: 7px;
}
footer .copyright {
    font-family: Inter;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.8rem;
    text-align: center;
}


