img {
    width: 128px;
    background-color: rgb(77, 77, 77);
    padding: 10px;
    border-radius: 15%;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
    list-style-position: inside;
}

a {
    color: rgb(122, 122, 255);
}
