body {
    background-color: #200020;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.c2, .c1{
    width: 50%;
    height: calc(100vh/5*2);
}
.c5, .c3 {
    height: calc(100vh/5*3);
    width: 33%;
}
.c4 {
    height: calc(100vh/5*3);
    width: 34%;        
}